<div class="row">
    <div class="col-md-3">
        <h2><%= @game.man_name %></h2>
        <p><%= @game.man_points %></p>
    </div>
    <div class="col-md-6">
        <h2>Игра завершена</h2>
        <p>Победитель: <%= @game.winner %></p>
    </div>
    <div class="col-md-3">
        <h2><%= @game.woman_name %></h2>
        <p><%= @game.woman_points %></p>
    </div>
</div>


<p>
  <strong>Step:</strong>
  <%= @game.step %>
</p>