<div class="row">
    <div class="col-md-3">
        <h2><%= @game.man_name %></h2>
        <p><%= @game.man_points %></p>
    </div>
    <div class="col-md-6">
        <h2>Правила игры</h2>
        <p>1. Побеждает тот, кто наберет максимальное кол-во баллов. За каждое выполненное заданием вам прибоваляется определенное колличество баллов. Задания усложняются с каждым разом и кол-во очков за выполненные задания - увеличивается. Если игрок не выполняет задание - с него списываются очки.</p>

        <p>2. Во время игры вы можете использовать свои очки чтобы снять одежду с аппонента или, чтобы вернуть свою.</p>

        <p>3. По окончанию игры - победителю достанется определенный приз.</p>

        <h2>Тяжелый уровень</h2>

        <p>Внимание! Вы выбрали самый тяжелый уровень игры. В данном случае в заданиях и в используемых игрушках нет никаких ограничений. Рекомендуем привести в порядок ваши сокровеные места, так как задания будут достаточно интимными и сложными для выполнения</p>

    </div>
    <div class="col-md-3">
        <h2><%= @game.woman_name %></h2>
        <p><%= @game.woman_points %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%= button_to 'Принимаем', next_game_path(@game), method: :get, class: "btn btn-success"  %>
    </div>
</div>