<div class="row">
    <div class="col-md-3">
        <h2><%= @game.man_name %></h2>
        <p><%= @game.man_points %></p>
    </div>
    <div class="col-md-6">
    Правила
    </div>
    <div class="col-md-3">
        <h2><%= @game.woman_name %></h2>
        <p><%= @game.woman_points %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
         <%= button_to 'YFXFNM', next_game_path(@game), method: :get, class: "btn btn-success" %>
    </div>

</div>