<!DOCTYPE html>
<html>
  <head>
    <title>Youingame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'cover', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Your private game</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Предложения</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <%= yield%>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>2017</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
